/*
Theme Name: Miary
Text Domain: miary
Version: 1.5
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Author: the WordPress team
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentytwenty/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/

/* Screen Reader Text ------------------------ */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	right: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/*!
 * Instance - Bootstrap 4 Portfolio Template For Developers
 * Version: 1.3.2
 * Author: Xiaoying Riley
 * Copyright: 3rd Wave Media Ltd.
 * Website: http://themes.3rdwavemedia.com/
 * Twitter: @3rdwave_themes
*/body{font-family:'Roboto', sans-serif;background:#F7F8FA;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#434E5E}.btn{font-weight:500;padding:.375rem 1rem}.btn:focus,.btn.focus{box-shadow:none !important}.theme-btn-cta{width:100%;padding:0.6rem 1.5rem}.footer{background:#434E5E}.form-control{padding-top:0.875rem;padding-bottom:0.875rem}.badge{padding:0.35em 0.7em;padding-bottom:0.4em}#topcontrol{transition:all 0.4s ease-in-out;background:#58677c;color:#fff;text-align:center;display:inline-block;z-index:30;width:36px;height:36px;border-radius:.25rem;padding-top:6px;font-weight:300}@media (prefers-reduced-motion: reduce){#topcontrol{transition:none}}#topcontrol:hover{background:#434e5e;color:#fff}#topcontrol .fas{font-size:25px}@media all and (-ms-high-contrast: none),(-ms-high-contrast: active){.svg-ie-fix{width:100%}}.font-style-normal{font-style:normal !important}.link-on-bg,a.link-on-bg{color:rgba(0,0,0,0.5)}.link-on-bg:hover,a.link-on-bg:hover{color:rgba(0,0,0,0.6)}.presudo-hidden:before{display:none !important}.presudo-hidden:after{display:none !important}.theme-bg-primary{background-color:#567787}.theme-bg-primary-darken{background-color:#2e4049}a.theme-btn-on-bg,.theme-btn-on-bg{background:rgba(0,0,0,0.2);color:#fff;border:none}a.theme-btn-on-bg:hover,a.theme-btn-on-bg:focus,a.theme-btn-on-bg:active,.theme-btn-on-bg:hover,.theme-btn-on-bg:focus,.theme-btn-on-bg:active{background:rgba(0,0,0,0.4);border-color:transparent;border:none;color:#fff}.progress{border-radius:2px}.theme-progress-bar-dark{background-color:#58677c}.single-col-max-width{max-width:860px}.social-list a{width:36px;height:36px;padding-top:7px;display:inline-block;text-align:center;border-radius:50%;transition:all 0.4s ease-in-out}@media (prefers-reduced-motion: reduce){.social-list a{transition:none}}.social-list a:hover{background:rgba(0,0,0,0.2)}#navigation{font-size:0.875rem}#navigation .active{font-weight:600}#navigation .dropdown-menu{border-radius:2px}#navigation .dropdown-menu:before{content:"";display:block;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #fff;position:absolute;right:32px;top:-8px}#navigation .dropdown-item{font-size:0.875rem;padding:0.5rem 1.25rem}#navigation .dropdown-item:hover{color:#434E5E}#navigation .dropdown-item:active{color:#fff}.navbar-dark .navbar-toggler{border:none;padding:0;font-size:inherit;border-radius:0}.navbar-dark .navbar-toggler-icon{background:url("assets/images/bars.svg") no-repeat left top;height:20px;width:24px}.navbar-dark .navbar-nav .nav-link:active{color:#fff}#slide-line{position:absolute;bottom:0;height:3px;background-color:rgba(255,255,255,0.8);border-radius:2px;transition:all 0.4s ease-in-out}@media (prefers-reduced-motion: reduce){#slide-line{transition:none}}.profile-image{max-width:240px}.section-title{font-size:1.75rem}.section-intro{max-width:780px}.skills-cat{font-size:1.25rem}.skills-icon-holder{background:#567787;width:80px;height:80px;padding-top:1.25rem;top:-40px;left:50%;margin-left:-40px}.logo img{-webkit-opacity:.5;-moz-opacity:.5;opacity:.5}.logo img:hover{-webkit-opacity:.7;-moz-opacity:.7;opacity:.7}.quote-icon{left:2rem;top:2rem}.quote-source{font-size:0.875rem}.client-profile img{width:80px}.flickity-viewport{padding-top:1.5rem;padding-bottom:3rem;transition:height 0.2s}@media (prefers-reduced-motion: reduce){.flickity-viewport{transition:none}}.flickity-viewport,.flickity-viewport *,.flickity-viewport *:before,.flickity-viewport *:after{box-sizing:content-box}.flickity-page-dots{bottom:-15px}.flickity-page-dots .dot{background:#434E5E}.testimonial-item{width:60%;height:auto;margin-right:3rem}.testimonial-item:after{content:"";display:block;width:100%;height:100%;background:rgba(255,255,255,0.5);left:0;top:0;position:absolute}.testimonial-item.is-selected:after{display:none}.blockquote{font-size:1rem}.source-link{right:3rem;bottom:3rem}.source-link .fa-linkedin{color:#0077B5}.project-cards .card-title{font-size:1.125rem}.project-cards .card-title a{color:#434E5E}.project-cards .card-img-container{overflow:hidden}.project-cards .card-img-container:hover .overlay-logo{-webkit-opacity:0;-moz-opacity:0;opacity:0}.project-cards .card-img-container:hover .overlay-content{margin-top:0}.project-cards .card-img-overlay{color:#fff;transition:all 0.4s ease-in-out}@media (prefers-reduced-motion: reduce){.project-cards .card-img-overlay{transition:none}}.project-cards .card-img-overlay.overlay-logo{margin-top:0;background:rgba(67,78,94,0.6)}.project-cards .card-img-overlay.overlay-logo .project-logo{position:absolute;width:100%;left:0;top:50%;margin-top:-38px}.project-cards .card-img-overlay.overlay-content{margin-top:600px;background:rgba(12,127,222,0.95);text-decoration:none}.blog-cards .meta{color:#aab4c3;font-size:0.875rem}.blog-cards .meta a{color:#aab4c3}.blog-cards .meta a:hover{color:#58677c}.blog-cards .card-title{font-size:1.25rem}.blog-cards .card-img-container{overflow:hidden;background:#434E5E}.blog-cards .card-img-container .card-img-top{-webkit-opacity:1;-moz-opacity:1;opacity:1;transition:all 0.6s ease-in-out}@media (prefers-reduced-motion: reduce){.blog-cards .card-img-container .card-img-top{transition:none}}.blog-cards .card-img-container:hover .card-img-top{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);-webkit-opacity:.2;-moz-opacity:.2;opacity:.2}.blog-cards .card-img-container:hover .overlay-mask{display:block}.blog-cards .card-img-overlay.overlay-mask{color:#fff; }.blog-cards .card-img-overlay .overlay-mask-content{transition:all 0.4s ease-in-out;top:50%;margin-top:-19px}@media (prefers-reduced-motion: reduce){.blog-cards .card-img-overlay .overlay-mask-content{transition:none}}.blog-cards .card-img-overlay .overlay-mask-content .btn{position:relative;z-index:10}.blog-cards .card-img-overlay .overlay-mask-link{transition:all 0.4s ease-in-out;left:0;top:0}@media (prefers-reduced-motion: reduce){.blog-cards .card-img-overlay .overlay-mask-link{transition:none}}.profile-small{width:80px;height:80px}.profile-medium{width:160px;height:160px}.profile-large{width:180px}.filters{list-style:none}.filters .type{display:inline-block;padding:0.275rem 0.875rem;border-radius:4px;cursor:pointer}.filters .type.active{background:#567787;color:#fff}.filters .type.active:hover{background:#567787;color:#fff}.filters .type:hover{background:#e6e9ed}.page-heading{font-weight:bold;font-size:2rem}.page-heading-tagline{max-width:700px;font-size:1.25rem}.page-heading-logo{right:15px;top:0;background:rgba(0,0,0,0.2);padding:0.2rem 1rem;border-radius:4px}.page-heading-logo .client-logo{width:160px}.project-wrapper{font-size:1.25rem;line-height:1.6;color:#58677c}.project-wrapper .cover-image{margin-bottom:2rem}.project-wrapper p{margin-bottom:3rem}.project-wrapper .section-title{color:#434E5E;margin-bottom:2rem;font-size:1.5rem;font-weight:bold}.project-wrapper .section-row{margin-bottom:6rem}.theme-carousel .carousel-indicators{bottom:-2rem}.theme-carousel .carousel-indicators li{background:#d7dce2;height:4px;border-radius:2px;border:none;cursor:pointer}.theme-carousel .carousel-indicators li.active{background:#434E5E}.theme-carousel .carousel-control-prev{left:-1.5rem}.theme-carousel .carousel-control-next{right:-1.5rem}.theme-carousel .carousel-control-prev,.theme-carousel .carousel-control-next{font-size:3rem;color:#434E5E}.theme-carousel .carousel-control-prev svg,.theme-carousel .carousel-control-next svg{width:40px;height:40px;padding:0.65rem;background:#434E5E;border-radius:50%;text-align:center}.ekko-lightbox-nav-overlay a{color:#434E5E;position:relative}.ekko-lightbox-nav-overlay a .arrow-left{position:absolute;left:1rem;display:inline-block;width:30px;height:30px;background:url("../images/arrow-left.svg") no-repeat center center;background-size:contain}.ekko-lightbox-nav-overlay a .arrow-right{position:absolute;right:1rem;display:inline-block;width:30px;height:30px;background:url("../images/arrow-right.svg") no-repeat center center;background-size:contain}.project-sidebar{font-size:1rem;line-height:1.6;color:#58677c}.sidebar-title{font-size:1.25rem;font-weight:bold;color:#434E5E}.talk-meta{color:#aab4c3;font-size:0.875rem}.page-heading-profile{right:15px;top:0}.page-heading-post-meta{color:rgba(255,255,255,0.8);font-size:0.875rem}.page-heading-post-meta a{color:rgba(255,255,255,0.8)}.page-heading-post-meta a:hover{color:white}.social-list-square a{width:36px;height:36px;padding-top:0.13rem;font-size:1.25rem;display:inline-block;text-align:center;border-radius:4px;transition:all 0.4s ease-in-out;background:rgba(0,0,0,0.1)}@media (prefers-reduced-motion: reduce){.social-list-square a{transition:none}}.social-list-square a:hover{background:rgba(0,0,0,0.2)}.card.eq-height{height:100%}.blog-cards .featured-card{min-height:320px}.blog-cards .featured-card-image{background:#434E5E no-repeat center center;background-size:cover;width:60%;position:relative;min-height:320px}.blog-cards .featured-card-image .badge{left:1rem;top:1rem;padding:0.5rem 0.6rem;font-size:0.875rem}.blog-cards .featured-card-body{width:40%}.single-post-wrapper{font-size:1.25rem;line-height:1.6;color:#58677c}.single-post-wrapper p{margin-bottom:3rem}.single-post-wrapper .section-title{color:#434E5E;margin-bottom:2rem}.single-post-wrapper .section-row{margin-bottom:6rem}.author-block{font-size:1rem}.btn-blog-more{padding:1rem}.twitter-tweet{margin:0 auto}.theme-blockquote{max-width:600px;font-size:1.6rem;margin:0 auto}.header-intro-resume{height:320px}.header-intro-resume .container{max-width:1000px}.download-resume{right:15px;top:0}.resume-wrapper{margin-top:-35px;padding-bottom:100px}.resume-wrapper-inner{max-width:1120px}.resume-header{background:#434E5E;color:rgba(255,255,255,0.9); }.resume-header .picture{width:220px}.resume-header .name{font-size:2.25rem;letter-spacing:0.175rem;font-weight:900}.resume-header .title{font-size:1.5rem}.resume-header a{color:rgba(255,255,255,0.6)}.resume-header a:hover{color:white}.resume-social{font-size:0.875rem}.resume-social .fa-container{font-size:1rem;display:inline-block;width:24px;height:24px;border-radius:.125rem;background:white;color:#434E5E}.resume-section-title{font-size:1.25rem;position:relative;color:#434E5E}.resume-section-title:after{content:"";position:absolute;left:0;bottom:0;width:100%;height:1.5px;background:#8d9aad}.resume-section-content{color:#58677c}.resume-timeline{padding-left:2rem}.resume-timeline:before{content:"";display:inline-block;width:3px;height:100%;background:#c8cfd8;left:6px;top:4px;position:absolute}.resume-timeline-item:before{content:"";display:inline-block;position:absolute;left:-32px;top:3px;width:15px;height:15px;border:4px solid #6f8098;background:white;border-radius:50%}.resume-progress{height:0.6rem}.resume-company-name{color:#58677c;font-size:0.875rem;font-weight:500}.resume-position-time{font-size:0.875rem;color:#aab4c3}.resume-position-title{font-size:1.125rem;color:#434E5E}.resume-timeline-item-desc-heading{font-size:1rem}.resume-skills-cat{font-size:1rem;color:#434E5E}.resume-skill-name{font-size:0.8125rem;color:#434E5E}.resume-degree{color:#434E5E}.resume-degree-org{font-size:0.875rem}.resume-degree-time{color:#aab4c3;font-size:0.875rem}.resume-award-icon{left:0;top:4px;color:#aab4c3}.resume-award-name{font-weight:bold;color:#434E5E}.resume-award-desc{font-size:0.875rem}.resume-lang-name{color:#434E5E}.speech-bubble{position:relative}.speech-bubble:before{content:"";display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-10px;left:50%;margin-left:-10px}.social-list-color a{width:36px;height:36px;padding-top:0.2rem;display:inline-block;text-align:center;border-radius:4px;transition:all 0.4s ease-in-out;color:#fff;font-size:1.25rem}@media (prefers-reduced-motion: reduce){.social-list-color a{transition:none}}.social-list-color a.twitter{background-color:#1DA1F2}.social-list-color a.twitter:hover{background-color:#0c85d0}.social-list-color a.facebook{background-color:#3b5998}.social-list-color a.facebook:hover{background-color:#2d4373}.social-list-color a.github{background-color:#576477}.social-list-color a.github:hover{background-color:#414b5a}.social-list-color a.stack-overflow{background-color:#F3A83B}.social-list-color a.stack-overflow:hover{background-color:#ed920e}.social-list-color a.linkedin{background-color:#0077B5}.social-list-color a.linkedin:hover{background-color:#005582}.social-list-color a.codepen{background-color:#000}.social-list-color a.codepen:hover{background-color:#000}.social-list-color a.instagram{background-color:#BC296D}.social-list-color a.instagram:hover{background-color:#922055}.social-list-color a.medium{background-color:#02B875}.social-list-color a.medium:hover{background-color:#018655}.contact-form .error{color:#EC575B;padding-top:0.5rem}@media (min-width: 576px){.talk-media-holder{width:100%}}@media (min-width: 768px){.theme-btn-cta{width:inherit;display:inline-block}}@media (min-width: 992px){.talk-media-holder{width:55%}}@media (min-width: 1200px){.talk-media-holder{width:60%}}@media (max-width: 991.98px){#slide-line{display:none !important}.dropdown-menu{background:rgba(0,0,0,0.05);color:#fff;border:none}#navigation{padding-top:1rem;padding-bottom:1rem}#navigation .dropdown-menu:before{display:none}#navigation .dropdown-item{color:#fff}#navigation .dropdown-item:hover{background:rgba(0,0,0,0.1);color:#fff}}@media (max-width: 767.98px){.author-block{text-align:center}.author-block .author-profile,.author-block .author-info{margin:0 auto}.source-link{position:static !important}.client-profile{text-align:center}.client-profile img{margin:0 auto}.client-profile .quote-source{margin:0 auto}.project-wrapper .section-title{font-size:1.5rem;margin-bottom:1rem}.project-wrapper{font-size:1.125rem}.project-wrapper p{font-size:1.125rem}.theme-carousel .carousel-control-prev{left:0}.theme-carousel .carousel-control-next{right:0}.testimonial-item{width:80%}.resume-header{height:auto}.resume-header .picture{width:120px;border-radius:4px}.header-intro{text-align:center}.download-resume{position:static !important}.header-intro-resume{height:auto}.resume-wrapper{margin-top:0}.page-heading-logo{position:static !important}.blog-cards .featured-card{display:block !important}.blog-cards .featured-card-image{display:block !important;width:100%;height:200px}.blog-cards .featured-card-body{display:block !important;width:100%}}@media (max-width: 575.98px){.testimonial-item{width:100%;margin-right:0}#slide-line{display:none !important}}#share-bar{display:block;position:fixed;top:50%;transform:translateY(-50%);z-index:9999}.sharing-providers{list-style-type:none}.sharing-providers{padding:0;margin:0}.sharing-providers>li{display:block;text-align:center;width:45px;height:45px;padding:0;margin:0;background:#777777;transition:0.5s all}.sharing-providers.circle>li{border-radius:50%;margin:2px}#share-bar.left{left:0}#share-bar.left .sharing-providers>li{margin-left:0}#share-bar.right{right:0}#share-bar.right .sharing-providers>li{margin-right:0}.sharing-providers>li>a{text-decoration:none !important;font-family:'FontAwesome';width:45px;height:45px;line-height:45px;display:block}.sharing-providers.circle>li>a{border-radius:50%}.sharing-providers>li>a{color:white;font-size:25px}.sharing-providers>li>a,.sharing-providers>li>a:hover{text-decoration:none}#share-bar.animate .sharing-providers>li:hover{transform:translateX(5px)}#share-bar.right.animate .sharing-providers>li:hover{transform:translateX(-5px)}.sharing-providers>li.facebook:hover{background:#3b5998}.sharing-providers>li.googleplus:hover{background:#d14836}.sharing-providers>li.twitter:hover{background:#6CDFEA}.sharing-providers>li.linkedin:hover{background:#0077B5}.sharing-providers>li.tumblr:hover{background:#2c4762}.sharing-providers>li.digg:hover{background:#333333}.sharing-providers>li.reddit:hover{background:#5f99cf}.sharing-providers>li.pinterest:hover{background:#cb2027}.sharing-providers>li.stumbleupon:hover{background:#EB4924}.sharing-providers>li.email:hover{background:#E3A129}#share-bar{transition:all 0.4s ease-in-out}@media (prefers-reduced-motion: reduce){#share-bar{transition:none}}#share-bar.left{left:-30rem}#share-bar.left.show-me{left:1rem}#share-bar.right{right:-30rem}#share-bar.right.show-me{right:1rem}.sharing-providers.circle>li{margin:0;margin-bottom:1rem}.sharing-providers>li{background:#58677c}.sharing-providers>li.twitter{background-color:#1DA1F2}.sharing-providers>li.twitter:hover{background-color:#0d95e8}.sharing-providers>li.facebook{background-color:#3b5998}.sharing-providers>li.facebook:hover{background-color:#344e86}.sharing-providers>li.linkedin{background-color:#0077B5}.sharing-providers>li.linkedin:hover{background-color:#00669c}.sharing-providers>li.googleplus{background-color:#DB4437}.sharing-providers>li.googleplus:hover{background-color:#d33426}.sharing-providers>li.pinterest{background-color:#BD081C}.sharing-providers>li.pinterest:hover{background-color:#a50718}.sharing-providers>li.reddit{background-color:#EC5428}.sharing-providers>li.reddit:hover{background-color:#e64314}.sharing-providers>li.tumblr{background-color:#39465B}.sharing-providers>li.tumblr:hover{background-color:#2f3a4b}.sharing-providers>li.stumbleupon{background-color:#DB5535}.sharing-providers>li.stumbleupon:hover{background-color:#d14625}.sharing-providers>li.digg{background-color:#3569A3}.sharing-providers>li.digg:hover{background-color:#2f5d90}.sharing-providers>li.email{background-color:#567787}.sharing-providers>li.email:hover{background-color:#2998f4}@media (max-width: 991.98px){#share-bar{bottom:0;top:auto;transform:translate(-50%, 0);left:50% !important;right:auto;background:white;width:100%;text-align:center;padding:8px}#share-bar .sharing-providers>li{display:inline-block;margin-right:0.5rem;margin-bottom:0;width:36px;height:36px}#share-bar .sharing-providers>li:last-child{margin-right:0}.sharing-providers>li>a{width:36px;height:36px;line-height:36px;font-size:20px}#share-bar.animate .sharing-providers>li:hover{transform:translateX(0px) !important;transform:translateY(-5px) !important}}body{overflow-x:hidden}.config-trigger{position:absolute;top:30px;left:-36px;width:36px;height:36px;background:#222;color:#fff;text-align:center;border-radius:4px;border-top-right-radius:0;border-bottom-right-radius:0;text-decoration:none}.config-trigger:hover{background:#000;text-decoration:none}.config-trigger:hover .fa-cog{color:#fff}.config-trigger .fa-cog{font-size:1.25rem;display:block;color:rgba(255,255,255,0.8)}.config-panel{position:absolute;top:160px;right:-190px;z-index:30;width:190px}.config-panel .panel-inner{position:relative;background:#222;color:#fff;padding:15px;border-top-left-radius:4px;border-top-right-radius:4px;border-top-right-radius:0;border-bottom-right-radius:0}.config-panel .panel-title{font-weight:600;margin-bottom:15px;font-size:14px;text-transform:uppercase}.config-panel label{color:#fff}.config-panel #color-options{margin-bottom:0px}.config-panel #color-options li a{display:block;width:28px;height:20px;border:2px solid transparent;margin-bottom:10px}.config-panel #color-options li a:hover{-webkit-opacity:.9;-moz-opacity:.9;opacity:.9;border:2px solid rgba(255,255,255,0.8)}.config-panel #color-options li.active a{border:2px solid #fff}.config-panel #color-options li.theme-1 a{background:#567787}.config-panel #color-options li.theme-2 a{background-color:#3dabbf}.config-panel #color-options li.theme-3 a{background-color:#3dae84}.config-panel #color-options li.theme-4 a{background-color:#3CD8CF}.config-panel #color-options li.theme-5 a{background-color:#23B1F7}.config-panel #color-options li.theme-6 a{background-color:#6f6db2}.config-panel #color-options li.theme-7 a{background-color:#A05377}.config-panel #color-options li.theme-8 a{background-color:#6376BC}.config-panel #color-options li.theme-9 a{background-color:#27c97b}.config-panel #color-options li.theme-10 a{background-color:#567787}.config-panel #color-options li.theme-11 a{background-color:#43AEE2}.config-panel #color-options li.theme-12 a{background-color:#F06447}.config-panel .close{position:absolute;right:5px;top:5px;color:#fff}.config-panel .close .fa{color:#fff}
